<div class='miniature-wrapper'>
  <a href='/pets/{{_id}}'>
    {{#if profilePicture}}
    <img src='{{profilePicture}}' alt='profile picture' />
    {{/else}}
    <img src='/images/index.png' alt='' />
    {{/if}}
    <h5>{{name}}</h5>
  </a>
</div>