<div class='miniature-wrapper'>
  <a href='/pet/{{_id}}'>
    <div class='miniature-image-holder'>
      {{#if profilePicture}}
        <img src='{{profilePicture}}' alt='profile picture' />
      {{else}}
        <img src='/images/index.png' alt='' />
      {{/if}}
    </div>
    <h5>{{name}}</h5>
  </a>
</div>