<div class='miniature-wrapper'>
  <a href='/pet/{{_id}}'>
    <div class='miniature-image-holder profile-picture-wrapper'>
      {{#if profilePicture}}
        <img
          src='{{profilePicture}}'
          alt='profile picture'
          class='profile-pic'
        />
      {{else}}
        <img src='/images/index.png' alt='' class='profile-pic' />
      {{/if}}
    </div>
    <h5>{{#ifNotEquals @root.user._id owner._id}}<span><img
            class='authorized-indicator-icon'
            src='/images/pet-paw-solid.svg'
            alt=''
          /></span>
      {{/ifNotEquals}}
      {{name}}</h5>
  </a>
</div>