<form class='login-form' action='/authentication/sign-in' method='POST'>
  <div class='welcome-image-wrapper'>
    <img
      class='welcome-profile-img'
      src='./../images/index.png'
      alt='welcome profile'
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-email'>Email / Username</label>
    <input
      type='text'
      id='input-email'
      name='emailOrUsername'
      placeholder='Email / Username'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-email'>Password</label>
    <input
      type='password'
      name='password'
      id='input-password'
      placeholder='Password'
      required
    />
    <a class='forgot-pass' href=''>Forgot your password?</a>

  </div>
  <button>Sign In</button>
  <a href='/authentication/sign-up'>Don't have an account? Click here!</a>
</form>