<form class='sign-up-form' action='/authentication/sign-up' method='POST'>
  <h2>Create a Pet Project account</h2>
  <div class='input-name-wrap'>
    <div class='input-label-wrap'>
      <label for=''>User Type</label>
      <div>
        <input
          type='radio'
          name='userType'
          id='prof-input-radio'
          value='professional'
        />
        <label>Professional</label>

        <input
          type='radio'
          name='userType'
          id='user-input-radio'
          value='regular'
        />
        <label>Regular</label>
      </div>
    </div>
    <div class='input-label-wrap d-none' id='professional-type-dropdown'>
      <label for=''>Professional Type</label>
      <div>
        <select type='select' name='profType' id='profType-input'>
          <option value='-'>-</option>
          <option value='Veterinarian'>Veterinarian</option>
          <option value='Walker'>Walker</option>
          <option value='Pet Sitter'>Pet Sitter</option>
          <option value='Groomer'>Groomer</option>
          <option value='Other'>Other</option>
        </select>
      </div>

    </div>
  </div>
  <div class='input-name-wrap'>
    <div class='input-label-wrap'>
      <label for='input-first-name-sign-up'>First Name</label>
      <input
        type='text'
        id='input-first-name-sign-up'
        name='firstName'
        placeholder='Your first Name'
        required
      />
    </div>
    <div class='input-label-wrap'>
      <label for='input-last-name-sign-up'>Last Name</label>
      <input
        type='text'
        id='input-last-name-sign-up'
        name='lastName'
        placeholder='Your last Name'
        required
      />
    </div>
  </div>
  <div class='input-label-wrap'>
    <label for='input-username-sign-up'>Username</label>
    <span id='username-available'></span>
    <input
      type='text'
      id='input-username-sign-up'
      name='username'
      placeholder='Your username'
      minlength='3'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-email-sign-up'>Email</label>
    <input
      type='email'
      id='input-email-sign-up'
      name='email'
      placeholder='Your email'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-password-sign-up'>Password</label>
    {{#if message.passwordError}}
      <span
        class='error-message'
        id='sign-up-password-error'
      >{{message.passwordError}}</span>
    {{/if}}
    <input
      type='password'
      name='password'
      id='input-password-sign-up'
      placeholder='A strong password'
      minlength='8'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-repeat-password-sign-up'>Repeat password</label>
    {{#if message.passwordMatchError}}
      <span
        class='error-message'
        id='sign-up-password-match-error'
      >{{message.passwordMatchError}}</span>
    {{/if}}
    <input
      type='password'
      name='repeatPassword'
      id='input-repeat-password-sign-up'
      placeholder='Repeat password'
      minlength='8'
      required
    />
  </div>
  <button>Sign Up</button>
</form>
<script>
  const profInputRad = document.getElementById('prof-input-radio'); const
  userInputRad = document.getElementById('user-input-radio'); const profSelect =
  document.getElementById('professional-type-dropdown');
  profInputRad.addEventListener('change', (e) => { if (profInputRad.checked){
  profSelect.classList.remove('d-none'); } })
  userInputRad.addEventListener('change', (e) => { if (userInputRad.checked){
  profSelect.classList.add('d-none'); } })
</script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='/scripts/sign-up.js'></script>