<form class='sign-up-form' action='/authentication/sign-up' method='POST'>
  <h2>Create a Pet Project account</h2>
  <div class='input-name-wrap'>
    <div class='input-label-wrap'>
      <label for=''>User Type</label>
      <div>
        <input type='radio' name='userType' id='prof-input-radio' />
        <span>Professional</span>
      </div>
      <div>
        <input type='radio' name='userType' id='user-input-radio' />
        <span>Regular</span>
      </div>
    </div>
    <div class='input-label-wrap d-none' id='professional-type-dropdown'>
      <label for=''>Professional Type</label>
      <div>
        <select type='select' name='profType' id='profType-input'>
          <option value='-'>-</option>
          <option value='Veterinarian'>Veterinarian</option>
          <option value='Walker'>Walker</option>
          <option value='Pet Sitter'>Pet Sitter</option>
          <option value='Groomer'>Groomer</option>
          <option value='Other'>Other</option>
        </select>
      </div>

    </div>
  </div>
  <div class='input-name-wrap'>
    <div class='input-label-wrap'>
      <label for='input-first-name'>First Name</label>
      <input
        type='text'
        id='input-first-name'
        name='firstName'
        placeholder='Your first Name'
        required
      />
    </div>
    <div class='input-label-wrap'>
      <label for='input-last-name'>Last Name</label>
      <input
        type='text'
        id='input-last-name'
        name='lastName'
        placeholder='Your last Name'
        required
      />
    </div>
  </div>
  <div class='input-label-wrap'>
    <label for='input-username'>Username</label>
    <input
      type='text'
      id='input-username'
      name='username'
      placeholder='Your username'
      minlength='3'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-email'>Email</label>
    <input
      type='email'
      id='input-email'
      name='email'
      placeholder='Your email'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-password'>Password</label>
    {{#if message.passwordError}}
      <span
        class='error-message'
        id='sign-up-password-error'
      >{{message.passwordError}}</span>
    {{/if}}
    <input
      type='password'
      name='password'
      id='input-password'
      placeholder='A strong password'
      minlength='8'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-repeat-password'>Repeat password</label>
    {{#if message.passwordMatchError}}
      <span
        class='error-message'
        id='sign-up-password-match-error'
      >{{message.passwordMatchError}}</span>
    {{/if}}
    <input
      type='password'
      name='repeatPassword'
      id='input-repeat-password'
      placeholder='Repeat password'
      minlength='8'
      required
    />
  </div>
  <button>Sign Up</button>
</form>
<script>
  const profInputRad = document.getElementById('prof-input-radio'); const
  userInputRad = document.getElementById('user-input-radio'); const profSelect =
  document.getElementById('professional-type-dropdown'); if(profInputRad.value)
  { profSelect.classList.remove('d-none'); } else {
  profSelect.classList.add('d-none'); }
</script>