<form class='login-form' action='/authentication/user-sign-in' method='POST'>
  <div class='profile-picture-wrapper welcome-img'>
    <div class='profile-circle'>
      <img
        class='welcome-profile-img'
        src='./../images/index.png'
        alt='welcome profile'
      />
    </div>
  </div>
  <div class='input-label-wrap'>
    <label for='input-email'>Email / Username</label>
    {{#if message.userError}}
      <span class='error-message' id='log-in-error'>{{message.userError}}</span>
    {{/if}}
    <input
      type='text'
      id='input-email'
      name='emailOrUsername'
      placeholder='Email / Username'
      required
    />
  </div>
  <div class='input-label-wrap'>
    <label for='input-email'>Password</label>
    {{#if message.passwordError}}
      <span
        class='error-message'
        id='password-error'
      >{{message.passwordError}}</span>
    {{/if}}
    <input
      type='password'
      name='password'
      id='input-password'
      placeholder='Password'
      required
    />
    <a class='forgot-pass' href=''>Forgot your password?</a>

  </div>
  <button>Sign In</button>
  <a href='/authentication/sign-up'>Don't have an account? Click here!</a>
</form>