<h1>Main User Dashboard TBC</h1>

<div id='pet-summary' class='dashboard-component'>
</div>
<div id='upcoming-events' class='dashboard-component'>
  <h4>Upcoming (15 days)</h4>
</div>
<div id='calendar' class='dashboard-component'></div>