<h1>Main User Dashboard TBC</h1>

<div id='pet-summary' class='dashboard-component'>
  <h4>My pets</h4>
  <div class="pet-wrapper-summary">
  {{#if pets}}
    {{#each pets}}
    {{> petMiniature this}}
    {{/each}}
  {{/if}}
  </div>
  <a href='/pet/create' class="btn add-pet-button">Add pet</a>
</div>
<div id='upcoming-events' class='dashboard-component'>
  <h4>Upcoming (15 days)</h4>
  <div>
    <div id='display-upcoming'></div>

    {{!-- {{#if events}}{{else}}
      <p>There are no upcoming events!</p>
      {{else}}
    {{/if}} --}}
  </div>
</div>
<div id='calendar' class='dashboard-component'></div>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/calendar-options.js'></script>