<h1>Main User Dashboard TBC</h1>

<div id='pet-summary' class='dashboard-component'>
</div>
<div id='upcoming-events' class='dashboard-component'>
  <h4>Upcoming (15 days)</h4>
  <div>
    {{#if events}}{{else}}
      <p>There are no upcoming events!</p>
    {{/if}}
  </div>
</div>
<div id='calendar' class='dashboard-component'></div>
<script src='/scripts/script.js'></script>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/calendar-options.js'></script>