<h1>Main User Dashboard TBC</h1>
<div id='pet-summary' class='dashboard-component'>
  <div class='component-header'>
  <h4 class='component-title'>{{type}}</h4>

    <div class="btn-wrapper"><a href='/pet/create' class="add-pet-button">Add pet</a></div>
    </div>
  <div class="pet-wrapper-summary">
    {{#if authorizedPets}}
      {{#each authorizedPets}}
        {{> petMiniature this}}
      {{/each}}
    {{/if}}
  </div>  
</div>
<fieldset id='upcoming-events' class='dashboard-component'>
  <legend class='component-title'>Upcoming this week</legend>
  <div>
    <div id='display-upcoming'></div>
  </div>
</fieldset>
<div id='calendar' class='dashboard-component'></div>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='/scripts/calendar-api.js'></script>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/calendar-options.js'></script>
<script src='/scripts/load-dashboard-events.js'></script>