<h1 class='professional-header'>Main Professional Dashboard TBC</h1>

<div id='upcoming-events' class='dashboard-component-prof'>

  <legend class='component-title'>Upcoming (15 days)</legend>
  <div>
    <div id='display-upcoming'></div>
  </div>
</div>
<div id='calendar' class='dashboard-component-prof'></div>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='/scripts/calendar-api.js'></script>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/calendar-options.js'></script>