<script src='/scripts/prof-dashboard-opt.js'></script>

<h1 class='professional-header'>Main Professional Dashboard TBC</h1>

<div class='dashboard-component-prof p-1'>
  <p><strong>Total customers count:</strong> <span>{{pets.length}}</span></p>
  <p><strong>Total appointments:</strong>
    <span>{{eventCount}}</span></p>

  <button id='appointment-btn'>New appointment</button>
  <div class='confirm close-modal'>
    <div class='confirm-modal app-content'>
      <div class='header prof-background'>
        <span class='title'>Add new appointment</span>
        <button class='close'>&times;</button>
      </div>
      <div class='content app-content'>
        <div class='d-flex flex-col'>
          <label for='user-search-input'>Search by owner name:</label>
          <input
            type='text'
            id='user-search-input'
            list='users-list'
            autocomplete='off'
          />
        </div>
        <div class='d-flex flex-col'>
          <label for='appointment-desc'>Appointment notes:</label>
          <textarea
            type='text'
            id='appointment-desc'
            type='text'
            autocomplete='off'
          ></textarea>
          <label for=''>Day:</label>
          <input type='date' id='date-appointment-input' />
          <label for=''>From/To:</label>
          <div class='split'>
            <input type='time' id='from-appointment-input' />
            <input type='time' id='to-appointment-input' />
          </div>
        </div>
      </div>
      <div class='buttons'>
        <button class='btn btn-delete' id='add-appointment-post'>Add appointment</button>
        <button class='btn btn-cancel'>Cancel</button>
      </div>
    </div>
  </div>
</div>
<fieldset id='upcoming-events' class='dashboard-component-prof'>
  <legend class='component-title'>Upcoming this week</legend>
  <div>
    <div id='display-upcoming'></div>
  </div>
</fieldset>
<div id='calendar' class='dashboard-component-prof'></div>

<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='/scripts/calendar-api.js'></script>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/prof-calendar-options.js'></script>