<h1>Main Professional Dashboard TBC</h1>

<fieldset id='upcoming-events' class='dashboard-component'>

  <legend class='component-title'>Upcoming (15 days)</legend>
  <div>
    <div id='display-upcoming'></div>
  </div>
</fieldset>
<div id='calendar' class='dashboard-component'></div>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='/scripts/calendar-api.js'></script>
<script src='/scripts/calendarjs.js'></script>
<script src='/scripts/calendar-options.js'></script>
<script>
  fetchUserEventsHTTP() .then((res) => calendarInstance.setEvents(res.data))
  .catch((error) => console.log(error));
</script>