<form action='/authentication/sign-in' method='POST'>
  <input
    type='email'
    id='input-email'
    name='email'
    placeholder='Email / Username'
  />
  <input
    type='password'
    name='password'
    id='input-password'
    placeholder='Password'
  />
  <button>Sign In</button>
</form>