<h1>User Profile</h1>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Username</strong>: {{user.username}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<form action='/user-profile/edit'>
  <button>Edit</button>
</form>