<h1>User Profile</h1>
<span><strong>First Name</strong>: {{user.firstName}}</span>
<br />
<span><strong>Last Name</strong>: {{user.lastName}}</span>
<br />
<span><strong>Username</strong>: {{user.username}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<form action='/user-profile/edit'>
  <button>Edit</button>
</form>