<h1>Edit profile</h1>
<form action='/user-profile/edit' method='POST'>
  <label for='edit-name'>Name</label>
  <input id='edit-name' name='name' type='text' value={{user.name}} />
  <label for='edit-username'>Username</label>
  <input
    id='edit-username'
    name='username'
    type='text'
    value={{user.username}}
  />
  <label for='edit-email'>Email</label>
  <input id='edit-email' name='email' type='text' value={{user.email}} />
  <button>Save</button>
</form>