.profile-circle {
  position: relative;
  div.camera-wrapper {
    min-height: 12%;
    min-width: 12%;
    height: 12%;
    width: 12%;
    opacity: 0.5;
    position: absolute;
    bottom: 7%;
    left: 7%;
    margin: 0;
    padding: 0;
  }
}
