.user-message {
  padding: 1em;
  list-style: none;
  background: $grey;
  display: flex;
  flex-direction: column;
  .message-buttons {
    display: flex;
  }
  .collapsible {
    background-color: $grey;
    cursor: pointer;
    width: 100%;
  }

  .active,
  .collapsible:hover {
    background-color: $mid-grey;
  }
  .collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(247, 247, 247);
  }
}
