.message-wrapper {
  padding: 0.2em;
  list-style: none;
  background: $grey;
  display: flex;
  align-items: center;
  .checkbox-wrapper {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-message {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .collapsible {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.4em;
    background-color: $mid-grey;
    cursor: pointer;
    width: 100%;
  }
  .active,
  .collapsible:hover {
    background-color: $grey;
  }
  .collapsible-content {
    padding: 0 1em;
    display: none;
    overflow: hidden;
    background-color: rgb(247, 247, 247);
  }
}
