$minimum-width-pet-profile: 40rem;

.profile-picture-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  > div:first-child {
    height: 12.5rem;
    width: 12.5rem;
    position: relative;
    z-index: 1;
  }
  div.profile-circle {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    border: 1px dashed grey;
    background-position: center center;
    position: relative;
    overflow: hidden;
  }

  .profile-pic {
    min-width: 100%;
    min-height: 100%;
    // padding: 0.2em;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    background-color: transparent;
    position: relative;
    z-index: 1;
    background-position: center center;
    border-radius: 50%;
  }
}
.profile-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  // margin-bottom: 2.5rem;
  > * {
    width: 50%;
    min-width: 18rem;
    margin: 0.5rem auto;
  }
  font-size: 1.05em;
}
.profile-field > strong,
.profile-field > span.color-type {
  display: inline-block;
  width: 8.1em;
}
input.profile-edit-input {
  box-sizing: border-box;
  padding: 0;
  color: rgb(170, 39, 39);
  margin: 0;
  border: 0;
  background-color: unset;
  text-align: left;
}
form.profile-info {
  margin-bottom: 0;
}
.profile-info {
  padding-left: 1em;
}

.authorized {
  padding: 1em;
  background: $grey;
  #authorized-users-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #add-auth-user-button {
      display: inline-block;
      color: rgb(127, 127, 127);
      font-size: 3em;
    }
    #add-auth-user-button:hover {
      cursor: pointer;
      color: $secondary-brown;
    }
  }
  .collapsible {
    background-color: $grey;
    width: 100%;
  }
  .collapsible-content {
    padding: 0 1em;
    display: none;
    overflow: hidden;
    background-color: rgb(247, 247, 247);
  }
}

div.edit-wrapper {
  position: absolute;
  height: calc(12.5rem * 0.1);
  width: calc(12.5rem * 0.1);
  top: -0.1em;
  right: 0.5em;
  min-width: unset;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  cursor: pointer;
  img {
    height: calc(12.5rem * 0.1);
    width: calc(12.5rem * 0.1);
    &:hover {
      opacity: 0.8;
      filter: invert(50%) sepia(65%) saturate(654%) hue-rotate(340deg)
        brightness(97%) contrast(90%);
    }
  }
}
div.top-level {
  top: 1.3em;
}

@media (max-width: $minimum-width-pet-profile) {
  .profile-section {
    justify-content: center;
  }
  .profile-info {
    width: 100%;
    padding-left: 1rem;
  }
  .profile-picture-wrapper {
    div:first-child {
      margin-top: 0.6em;
    }
  }
}

.confirm,
.auth-modal,
.pet-modal {
  position: fixed;
  z-index: 9888;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 1em;
  display: none;
  align-items: center;
  justify-content: center;
  .confirm-modal {
    width: 100%;
    max-width: 30rem;
    max-height: 25rem;
    background: $grey;
    border-radius: $component-round-radius;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .header {
    background: $main-brown;
    max-height: 5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    .title {
      font-size: 1em;
      font-weight: 600;
    }
    .close {
      padding: 0;
      background: none;
      outline: none;
      border: none;
      font-size: 2em;
      color: white;
      cursor: pointer;
    }
    .close:hover {
      color: $detail-darkred;
    }
  }
  .content {
    padding: 2em;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 2em 1.5rem;
    form {
      margin: 0;
    }
  }
}

#auth-modal,
#pet-modal {
  max-height: 40rem;
}

#delete-pet {
  width: 100%;
  color: white;
  background: $detail-darkred;
}
