$minimum-width-pet-profile: 40rem;

.profile-picture-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  div.profile-circle {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    border: 1px dashed grey;
    background-position: center center;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  > div:first-child {
    height: 12.5rem;
    width: 12.5rem;
    position: relative;
    z-index: 1;
  }
  .profile-pic {
    min-width: 100%;
    min-height: 100%;
    padding: 0.2em;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
}
.profile-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // margin-bottom: 2.5rem;
  > * {
    width: 50%;
    min-width: 18rem;
    margin: 0.5rem auto;
  }
  font-size: 1.05em;
}

.profile-info {
  padding-left: 1em;
}

.wrap-collapsible {
  #collapsible {
    display: none;
  }
  .lbl-toggle {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
  }
  .lbl-toggle::after {
    content: '+';
  }
  .collapsible-content {
    max-height: 0px;
    width: 100%;
    overflow: hidden;

    transition: max-height 0.1s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  .toggle:checked + .lbl-toggle::after {
    content: '-';
  }
}

@media (max-width: $minimum-width-pet-profile) {
  .profile-section {
    justify-content: center;
  }
  .profile-info {
    width: 100%;
    padding-left: 1rem;
  }
  .profile-picture-wrapper {
    div:first-child {
      margin-top: 0.6em;
    }
  }
}
