@import './colors.scss';

.dashboard-component,
.calendar {
  border-radius: 0.9rem 0.9rem 0.2em 0.2em;
  margin-bottom: 2em;
  border: 2px dashed $detail-yellow;
}
.dashboard-component {
  background-color: $grey;
  min-height: 8em;
}
