$white: rgb(255, 255, 255);
$grey: rgb(238, 238, 238);
$mid-grey: rgb(196, 196, 196);
$dark-grey: rgb(48, 48, 48);

$main-brown: #e26a29;
$secondary-brown: #eb762b;
$detail-yellow: #ffb54f;
$detail-darkred: #a41d2d;

$success-green: rgb(63, 184, 63);

$main-text: rgb(0, 0, 0);
$secondary-text: rgb(0, 0, 0);
$main-text: rgb(0, 0, 0);

$navbar-background: rgb(0, 0, 0);

$component-round-radius: 0.9rem;
