//main color palette
@import './colors.scss';
@import './general-styles.scss';
@import './calendar/calendarjs.scss';

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  overflow-x: hidden;
}
body {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: $font-sans;
  line-height: 2;
  overflow-x: hidden;
  background: radial-gradient($grey, rgb(255, 244, 225));
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  z-index: 9999;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 0.6rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 0.4em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 0.4em;
  font: inherit;
  color: inherit;
  background-color: $mid-grey;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.mini-calendar-pet-wrapper {
  max-width: 13em;
  min-width: 10em;
  .mini-calendar-image-holder {
    margin-top: 0.25em;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    border: 3px dashed grey;
    background-position: center center;

    &:hover {
      border: 3px dashed $success-green;
    }
  }
  .mini-calendar-active {
    border: 3px dashed red;
  }
  a {
    display: block;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  img {
    min-width: 100%;
    min-height: 100%;
    padding: 0.5em;
    display: block;
    margin: 0 auto;
    object-fit: cover;
  }
  margin: 0 0.5em;
  h5 {
    text-align: center;
  }
}

div.input-pet-container {
  display: flex;
  flex-direction: row nowrap;
  overflow-x: scroll;
  min-height: 10.8em;
  background-color: white;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 0.25rem;
}

h1 {
  background: linear-gradient(90deg, $main-brown 20%, $secondary-brown 80%);
  border-radius: 0.9rem 0.9rem 0 0;
  height: 4.5em;
  color: white;
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: 200;
}
h1 + *,
h1 + fieldset {
  margin-top: -2em;
  border-radius: 15px 15px 0 0;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

@media screen and (min-width: 480px) {
  p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  h1 {
    // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: $dark-grey;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@import './components/login-form.scss';
@import './components/sidebar-menu.scss';
@import './components/upcoming-events.scss';
@import './components/dashboard-pet-summary.scss';
@import './components/create-pet.scss';
@import './components/pet-profile.scss';
@import './components/add-pic-camera.scss';

// div.contents {
//   display: inline-block;
//   position: relative;
//   overflow-x: hidden;
//   overflow-y: auto;
//   width: 100%;
//   padding: 0 !important;

//   div.content-events-all-day {
//     position: relative;
//     border-bottom: $standard-border-size solid $dark-color;
//     overflow: hidden;

//     div.all-day-text {
//       width: $time-hours-width;
//       padding: $spacing;
//       background-color: $light-color;
//       color: $dark-color;
//       border-right: $standard-border-size solid $dark-color;
//       position: absolute;
//       left: 0;
//       top: 0;
//       height: 100%;
//     }

//     div.event {
//       position: static !important;
//       margin-left: $time-hours-width + ($spacing * 3) !important;
//       margin-top: $spacing;
//       margin-bottom: $spacing;
//     }
//   }

//   div.contents-events {
//     position: relative;

//     div.time-arrow {
//       position: absolute;
//       width: calc(
//         100% - #{$time-hours-width} - (#{$spacing} * 2) - #{$standard-border-size}
//       );
//       left: $time-hours-width + ($spacing * 2) + $standard-border-size;
//       top: 0;
//       z-index: 10;
//       height: $time-arrow-line-height;
//       display: none;

//       div.arrow-left {
//         width: 0;
//         height: 0;
//         border-top: $time-arrow-line-height / 2 solid transparent;
//         border-bottom: $time-arrow-line-height / 2 solid transparent;
//         border-right: $time-arrow-line-height solid $link-color;
//       }

//       div.line {
//         background-color: $link-color;
//         position: absolute;
//         left: $time-arrow-line-height;
//         top: $time-arrow-line-height / 4;
//         height: $time-arrow-line-height / 2;
//         width: 100%;
//       }
//     }

//     div.hour {
//       background-color: $light-color;
//       border-bottom: $standard-border-size solid $dark-color;
//       position: relative;

//       &:before {
//         border-bottom: $standard-border-size dashed $input-border-color;
//         width: calc(100% - (#{$time-hours-width} + #{$spacing * 2}));
//         height: ($time-hours-height + $spacing * 2) - $standard-border-size;
//         content: '';
//         display: block;
//         position: absolute;
//         top: 0;
//         left: $time-hours-width + $spacing * 2;
//       }

//       div.hour-text {
//         width: $time-hours-width;
//         height: $time-hours-height;
//         padding: $spacing;
//         background-color: $light-color;
//         color: $dark-color;
//         border-right: $standard-border-size solid $dark-color;

//         &:nth-child(odd) {
//           background-color: $dark-color;
//           color: $light-color;
//         }
//       }

//       &:nth-child(odd) {
//         background-color: $day-names-color;
//       }

//       &:last-child {
//         border-bottom: none;
//       }
//     }
//   }

//   @media screen and (min-width: $minimum-width) {
//     height: calc(100% - ((#{$spacing} * 2) + #{$large-font-size}));
//   }

//   @media screen and (max-width: $maximum-width) {
//     height: calc(100% - ((#{$spacing} * 2) + #{$small-font-size}));
//   }

//   @import 'calendar/foundation/overlay-event';

//   div.event {
//     position: absolute;
//     margin-left: 0;
//     margin-right: 0;
//     width: calc(
//       100% - #{$time-hours-width} - (#{$spacing} * 6) - (#{$spacing} / 2)
//     );
//     left: $time-hours-width + ($spacing * 3);
//     overflow: hidden;
//   }
// }

// div.contents {
//   // @include overlay-contents;

//   div.no-events-text {
//     margin-top: $spacing;
//     margin-bottom: $spacing;
//     text-align: center;
//   }

//   div.day {
//     border-radius: $border-view-radius;
//     border: $standard-border-size solid $dark-color;
//     overflow: hidden;
//     margin-bottom: $spacing;

//     div.header {
//       background-color: $dark-color;
//       color: $light-color;
//       padding: $spacing;
//       font-weight: $title-bar-font-weight;

//       div.ib-arrow-expand-left-right,
//       div.ib-plus,
//       div.ib-close {
//         float: right;
//         margin-left: $spacing;
//       }

//       div.ib-close {
//         display: none;
//       }
//     }

//     div.events {
//       margin-top: $spacing;
//       margin-bottom: $spacing;

//       // @import '/calendar/foundation/overlay-event';
//     }

//     &:last-child {
//       margin-bottom: 0 !important;
//     }
//   }
// }
